#debug: true

# OpenTelemetry Configuration
#opentelemetry:
#  exporter:
#    otlp:
#      endpoint: http://localhost:4317
#  traces:
##    exporter: otlp
#    exporter: none
#  metrics:
##    exporter: otlp
#    exporter: none
#  instrumentation:
#    spring-webmvc:
#      enabled: false
#    spring-webflux:
#      enabled: false

#management:
#  tracing:
#    enabled: false
#    sampling:
#      probability: 1.0
#  endpoints:
#    web:
#      exposure:
#        include: health,info,prometheus
#  metrics:
#    export:
#      enabled: false
#      otlp:
#        url: http://localhost:4317
#        step: 10s
#  otlp:
#    tracing:
#      enabled: false
#      endpoint: http://localhost:4317

server:
  port: 8443
  ssl:
    enabled: true
    key-store-type: PKCS12
    key-store: classpath:server-keystore.p12
    key-store-password: server-p12-pwd
    client-auth: none

spring:
  threads:
    virtual:
      enabled: true
  application:
    name: spring-web-reactive-kotlin-coroutines

  kafka:
    bootstrap-servers: ${kafka.bootstrap-servers:localhost:9093}
    consumer:
      group-id: app-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    listener:
      missing-topics-fatal: false
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://localhost:14001;database=KkmkDB;trustServerCertificate=true
    username: sa
    password: Password!1a

  flyway:
    enabled: true
    encoding: UTF-8
    locations: classpath:flyway
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://localhost:14001;database=KkmkDB;trustServerCertificate=true
    user: sa
    password: Password!1a
    default-schema: dbo
    table: flyway_schema_history

    baseline-on-migrate: true
    validate-on-migrate: true
    sql-migration-prefix: V
    sql-migration-separator: __
    sql-migration-suffixes: .sql
    fail-on-missing-locations: true
  # allow-unsupported-database: true

kafka:
  bootstrap-servers: localhost:9093

web:
  client:
    one:
      name: one
      description: one
    two:
      name: two
      description: two
      retryCount: 5
